{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %} Delete {% endblock title %}

{% block content %}
    <h2>Вы действительно хотите удалить данную статью?</h2>

    {% if user.is_authenticated %}
        <p>Вы аутентифицированы и можете удалить статью</p>
        <a href="{% url 'account_logout' %}">Выход</a>

        <table>
            <tr>
                <td>
                    Заголовок
                </td>
                <td>
                    Дата публикации
                </td>
                <td>
                    Аннотация
                </td>
            </tr>
            <tr>
                <td>
                    {{ post.title|censor }}     <!-- не забываем, что переменные в шаблоне ничем не отличаются от переменных в python. Здесь так же можно получать доступ к полям класса. Например, здесь мы выводим имя, в следующем столбце описание, и т.д.  -->
                </td>
                <td>
                    {{ post.dataCreation|date:'d.m.Y' }}
                </td>
                <td>
                    {{ post.text|truncatechars:50|censor }}
                </td>
            </tr>
        </table>

    <form method="POST">
        {% csrf_token %}
        <input type="submit" value="подтвердить">
    </form>


    {% else %}
        <p>Вы не аутентифицированы и должны войти в систему или зарегистрироваться, чтобы удалить статью</p>
        <a href="{% url 'account_login' %}">Вход</a>
        <a href="{% url 'account_signup' %}">Регистрация</a>
    {% endif %}


{% endblock content %}